version: "3.9"
services:
  frontend:
    container_name: frontend
    image: antgoncharik/crypto-knight-dashboard
    restart: always
    networks:
      - share-net
networks:
  share-net:
    external: true
