version: "3.9"
services:
  frontend:
    container_name: frontend
    image: antgoncharik/crypto-knight-dashboard
    restart: always
    ports:
      - "10.10.0.2:81:80"
    # networks:
    #   - share-net
# networks:
#   share-net:
#     external: true
