.container {
  height: calc(100vh - 4rem);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settings {
  margin-bottom: 1rem;
}

.container_spinner_over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.tracks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.5rem;
  align-items: stretch;
}

.mat-card {
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;

  &.long {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      // clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(
        0 36.8%,
        50% 0,
        100% 36.8%,
        69.1% 36.8%,
        69.1% 100%,
        30.9% 100%,
        30.9% 38.8%
      );
      background: green;
      opacity: 0.2;
    }
  }

  &.short {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      // clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
      clip-path: polygon(0 63.2%, 31% 63.2%, 31% 0, 69% 0, 69% 63.2%, 100% 63.2%, 50% 100%);
      background: red;
      opacity: 0.2;
    }
  }
}

.container_data {
  display: flex;
  flex-direction: column;
}

.container_prices {
  display: flex;
  justify-content: space-between;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.price {
  display: flex;
  justify-content: space-between;
}

.container_order_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  display: flex;
  height: 2rem;
  grid-column: 1 / -1;

  &:before,
  &:after {
    content: '';
    flex: 1;
  }
}

.donotcross {
  overflow: hidden;
  align-items: center;
  background: hsl(50, 100%, 50%);
  color: black;
  height: 2rem;
  line-height: 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;

  &:before,
  &:after {
    background: white;
    padding: 25px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

.container_total_info {
  padding: 0.5rem;
  box-shadow: var(--mdc-elevated-card-container-elevation);
  border-radius: 0.5rem;
}

.container__info {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.good-positions {
  color: green;
}

.bad-positions {
  color: red;
}

.highlighted {
  font-weight: 700;
}

.chart-icon {
  cursor: pointer;
}
