.container {
  height: calc(100vh - 4rem);
  padding: 0.5rem;
}

.settings {
  margin-bottom: 1rem;
}

.container_spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.tracks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem;
  align-items: stretch;
}

.mat-card {
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;

  &.long {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
      background: green;
      opacity: 0.1;
    }
  }

  &.short {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
      background: red;
      opacity: 0.1;
    }
  }
}

.container_data {
  display: flex;
  flex-direction: column;
}

.container_prices {
  display: flex;
  justify-content: space-between;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.price {
  display: flex;
  justify-content: space-between;
}

.container_order_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.break {
  grid-column: 1 / -1;
  height: 2rem;
}

.container__info {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.good-positions {
  color: green;
}

.bad-positions {
  color: red;
}
