.container {
  height: calc(100vh - 36px);
  padding: 1rem;
}

.container_spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 500px) {
    align-items: center;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.container_tracks {
  display: flex;
  gap: 1rem;
}

.tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.mat-card {
  width: 100%;
  padding: 1rem;
}

.container_data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container_prices {
  display: flex;
  gap: 0.5rem
}