@if (isLoadingKlines || isLoadingTracks) {
  <div class="container_spinner_over">
    <mat-spinner></mat-spinner>
  </div>
}

<div class="container">
  <div class="container__info">
    <span>Positions:</span>
    <span>{{ countPositions }}</span>
    <span>📈{{ countLongPositions }}</span>
    <span>📉{{ countShortPositions }}</span>
    <span class="good-positions">{{ countGoodPositions }}</span>
    <span class="bad-positions">{{ countBadPositions }}</span>
  </div>
  <div class="container__info">
    <span>Balance:</span>
    <span>a:{{ (+balance.availableBalance).toFixed(2) }}</span>
    <span>b:{{ (+balance.balance).toFixed(2) }}</span>
    <span>u:{{ (+balance.crossUnPnl).toFixed(2) }}</span>
    <span>c:{{ (+balance.balance + +balance.crossUnPnl).toFixed(2) }}</span>
  </div>
  <div class="container__info">
    <span>Available positions:</span>
    <span>{{ ((+balance.availableBalance - countPositions * 2.5) / 2 / 2.5).toFixed() }}</span>
  </div>
  <div class="tracks">
    <ng-container *ngFor="let track of tracks; let i = index">
      <mat-card
        class="mat-card"
        [ngClass]="{
          long: track.isOrder && isLong(track),
          short: track.isOrder && !isLong(track),
        }"
      >
        <div class="mat-card-header">
          <div>
            <span>
              {{ track.symbol.slice(0, -4) }}
            </span>
            <span class="chart-icon" (click)="openKlineChart(track)">📈</span>
          </div>
          <span class="highlighted">{{ prices[track.symbol] }}</span>
        </div>

        <div *ngIf="track.isOrder">
          <div class="container_order_data">
            <mat-card-content>E: {{ track.entryPrice | number }}</mat-card-content>
            <div class="mat-card-header">
              <span
                class="highlighted"
                [style]="{
                  color: getFormattedColorPositionPercentageDiff(track),
                }"
              >
                {{ getFormattedPositionPercentageDiff(track) }}
              </span>
            </div>
          </div>
        </div>

        <div class="container_data">
          <div *ngIf="track.highPrice > 0 || track.symbol === 'BTCUSDT'" class="price">
            <mat-card-content>H: {{ track.highPrice }}</mat-card-content>
          </div>
          <div *ngIf="track.lowPrice > 0 || track.symbol === 'BTCUSDT'" class="price">
            <mat-card-content>L: {{ track.lowPrice }}</mat-card-content>
          </div>
        </div>
      </mat-card>

      <div
        *ngIf="tracks[i].isOrder && tracks[i + 1] && !tracks[i + 1].isOrder"
        class="divider donotcross"
      >
        Do not cross
      </div>
    </ng-container>
  </div>
</div>
