.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  padding: 0.5rem;
  gap: 0.5rem;

  @media (max-width: 500px) {
    align-items: center;
  }
}

.container_spinner_over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.container_tracks {
  width: 100%;
}

.tracks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  align-items: stretch;
}

.mat-card {
  width: 100%;
  padding: 0.5rem;
}

.container_data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container_prices {
  display: flex;
  justify-content: space-between;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.chart-icon {
  cursor: pointer;
}
