/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  --mdc-outlined-button-container-height: 56px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  & .mat-mdc-card-header {
    padding: 0;
  }
  & .mat-mdc-card-content {
    padding: 0 !important;
  }
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
