/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  font-size: 12px;
  --mdc-outlined-button-container-height: 56px;
  --mdc-form-field-label-text-size: 12px;
  --mat-expansion-header-text-size: 12px;
  --mdc-outlined-button-label-text-size: 12px;
}
body {
  line-height: 1.25;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  // background-image: url('assets/background.jpg');
  // background-position: center center;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // background-size: cover;

  & .mdc-form-field {
    --mdc-form-field-label-text-size: 12px;
  }
  & .mat-icon {
    width: 32px !important;
    height: 32px !important;
  }
  & .material-icons {
    font-size: 32px !important;
  }
  & .mat-typography {
    font-size: 12px;
  }
  & .mat-mdc-card-content {
    font-size: 12px;
  }
  & .mat-mdc-card-header {
    padding: 0;
  }
  & .mat-mdc-card-content {
    padding: 0 !important;
  }
  & .mat-mdc-checkbox {
    --mdc-form-field-label-text-size: 12px;
  }
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
// .mat-drawer-container {
//   background-color: transparent !important;
// }
